# Apply your stack customization here. This file is not tracked by git.

# If you want to make persistent changes to this file you can do so by using
# `git update-index --no-assume-unchanged stack/values-overrides.yaml` command,
# commiting changes, and then disabling file tracking by running
# `git update-index --assume-unchanged stack/values-overrides.yaml` command.

# Configuration options are documented at:
# https://github.com/timescale/helm-charts/blob/main/charts/timescaledb-single/values.yaml
timescaledb-single:
  patroni:
    bootstrap:
      dcs:
        postgresql:
          parameters:
            # track_io_timing: on

# Configuration options are documented at:
# https://github.com/timescale/helm-charts/blob/main/charts/promscale/values.yaml
promscale:
  extraEnv: []
#  config:
#    startup.dataset.config:
